body, html { margin: 0; padding: 0; color: #43425D;}


.btn_primary { display: inline-block; width: 185px; margin: 10px 30px; background-color: #43425D!important; border: 1px solid #43425D!important; }
.btn_secondary { display: inline-block; width: 185px; margin: 10px 30px; background-color: #FFFFFF!important; border: 1px solid #43425D!important; color: #43425D!important;}
.btn_tertiary { display: inline-block; width: 185px; margin: 10px 30px; background-color: #FFFFFF!important; border: 1px solid #FF6565!important; color: #FF6565!important;}

.main-container { display: flex;}
.title { height: auto; min-height: 100vh; background-color: #E5E5E5; position: relative; vertical-align: bottom;,}
.title2 { height: auto; min-height: 100vh; background-color: #39208F; position: relative; vertical-align: bottom;}
.title img, .title2 img { display: block; margin: 45vh auto 0 auto; width: 188px;}

.contents {}
.contents-inner { height: auto; min-height: 95vh; display: flex; justify-content: center; align-items: center;}
.contents-inner.noflex { display: block;}
.contents-inner form {}

.input-field.with_file { margin: 50px auto 20px auto!important;}
.input-field.error input, .input-field.error label, .input-field.error .helper-text, .input-field span.required { color: #FF6565!important;}
.input-field span.required, h5 span.required { display: inline; margin-left: 0.5em;}
h5 span.required { font-size: 0.5em;}
.input-field.error input { border-bottom: 1px solid #FF6565!important;}
.input-field .error {}
.input-field .error {}
.input-field textarea { width: 100%; height: 150px; padding: 10px; box-sizing: border-box; line-height: 1.4em;}
.input-radio label { position: static; margin: 0 20px 0 0;}
.input-textarea label { left: 10px;}
.input-textarea > label:not(.label-icon).active {
  left: 0;
  -webkit-transform: translateY(-20px) scale(0.8);
          transform: translateY(-20px) scale(0.8);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.input-field .pagination { display: block; z-index: 1; position: relative;}
.input-field .pagination li { border: 1px #E8E9EC solid!important; border-radius: 1px!important; z-index:1; position: relative; }
.input-field .pagination li:first-child a, .input-field .pagination li:last-child a { padding: 0!important; position: relative; }

.file-field { margin: 0 auto 50px auto!important;}

.table-field { width: 90%; margin: 0 auto;}
.table-field table { width: 100%; font-size: 0.8em!important;}
.table-field table thead {background-color: #F5F6FA!important; color: #A3A6B4!important;}
.table-field table td { color: #4D4F5C;}

.btn-wrapper { overflow: hidden;}
.btn-aligncenter { text-align: center;}
.btn-alignleft { text-align: left;}
.btn-comment { line-height: 2.8em;}
.btn-full button { width: 100%!important; box-sizing: border-box!important; margin: 20px 0; padding: 20px 0; height: 100px;}
.btn-highlight .btn { background-color: #3B86FF!important; border: 1px #3B86FF solid!important;}
.btn-highlight .btn.secondary { background-color: #ffffff!important; color: #3B86FF!important;}
.btn-highlight .btn.wide { padding: 0 40px!important;}
.btn-highlight.btn-alignleft .btn { margin-right: 20px;}

.title-btn { overflow: hidden;}
.title-btn h5 { display: inline-block; float: left;}
.title-btn .btn-wrapper { display: inline-block; float: right; padding: 10px 0 0 0;}

.confirm .input-field label, .confirm .input-field input { color: #43425D!important;}

.one-clum {}
.one-clum .contents-inner { padding: 80px 0;}
.one-clum h5 { padding: 0 0 40px 0;}
.one-clum .main-container, .one-clum .contents-inner { display: block!important;}
.one-clum h1 { margin: 20px auto;}
.one-clum .title img, .one-clum .title2 img { margin: 0 0 0 30px; width: 120px;}

.contents-footer { height: 5vh; text-align: center;}

.mt50 { margin-top: 50px;}

/*ボックス全体*/
.accbox { margin: 0.7em 0; padding: 15px 30px;}
/*ラベル*/
.accbox label { display: block; margin: 20px 0 0 0; padding : 13px 12px; color: #43425D; font-weight: bold; background: #F5F6FA; cursor :pointer; transition: all 0.5s;}
.accbox .accshow label { margin: 10px 0 0 0;}
/*アイコンを表示*/
.accbox label:after { content: '\f078'; font-family: 'Font Awesome 5 Free'; padding-right: 8px; float: right;}
/*ラベルホバー時*/
.accbox label:hover { background :#E5EAFF;}
/*チェックは隠す*/
.accbox input { display: none;}
/*中身を非表示にしておく*/
.accbox .accshow { height: 0; padding: 0; overflow: hidden; opacity: 0; transition: 0.8s;}
/*クリックで中身表示*/
.cssacc:checked + label + .accshow { height: auto; padding: 20px 30px; opacity: 1;}
.cssacc:checked + label + .accshow > .accshow { border: 1px solid #F1F1F3;}
.accbox .accshow p { margin: 15px 10px}
/*アイコンを入れ替える*/
.cssacc:checked + label:after { content: '\f077';}


/* Media Queries */
@media only screen and (max-width: 600px) {
	.main-container { display: block;}
	.title { height: 20vh;}
	.title img { margin: 0 0 0 30px;}
	.contents-inner { height: auto; min-height: 75vh;}
.btn-highlight .btn.wide { padding: 0 10px!important;}
}
